/* 
* @Title:  共用样式表
* @Author:锐诺互动-设计支持
* @Phone: 0755-25526820
* @Date:   2017-4-19 11:43:20
* @Last Modified time:
*/
/* 重置 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend,li{font:13px/24px 'lucida_sans_unicode',"微软雅黑",arial,"\5b8b\4f53";color:#333;outline:0;}
body{background:none;position:relative;max-width:1920px;min-width:1200px;overflow-x:hidden;margin:0 auto;}
a,a:hover{color:#333;-webkit-transition: all 400ms;transition: all 400ms;}
a:hover{color:#00899d;}
a:focus{outline:none;} 
a{display:block;}
p{line-height:22px;}


 /* ===== clearfix ===== */ 
.clearfix:after { content:"\200B"; display:block; height:0; clear:both; }
.clearfix {*zoom:1;}/*IE/7/6*/ 

/*公用样式*/
.w1200{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.pr{position:relative;}
.none{display:none;}
.ov{overflow: hidden;}
.pa-bot40{padding-bottom:40px;}
.pt30{padding-top:30px;}
.mt91{margin-top:91px;}
.side-w1200{width:1200px;}
.w838{width:838px;border-left:2px #f4f4f4 solid;padding-bottom:100px;}

/*设置滚动条样式*/
/*::-webkit-scrollbar{width: 7px;height: 7px;background-color:rgba(255, 255, 255, 0.2);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
::-webkit-scrollbar-thumb{ background-color:rgba(215, 215, 215, 0.8);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
*/

/*页面加载*/
/*loading*/
/*.loading{display:block;position: fixed;width:100%;height: 100%;top:0;left:0;z-index: 110;visibility: visible;text-align: center;padding-top:30%;background: #000;}
.loading span{display: inline-block; width: 15px; height: 15px; margin-right: 5px; background: #0e98a5; -webkit-animation: load 1.04s ease infinite; }
.loading span:last-child{margin-right: 0px; }
@-webkit-keyframes load{
    0%{opacity: 1; -webkit-transform: scale(1.2); }
    100%{opacity: .2; -webkit-transform: scale(.2); }
}
.loading span:nth-child(1){-webkit-animation-delay:0.13s; }
.loading span:nth-child(2){-webkit-animation-delay:0.26s; }
.loading span:nth-child(3){-webkit-animation-delay:0.39s; }
.loading span:nth-child(4){-webkit-animation-delay:0.52s; }
.loading span:nth-child(5){-webkit-animation-delay:0.65s; }
*/

@font-face{font-family:'DINCond-Bold';src: url('DINCond-Bold.otf')/*tpa=https://www.bgy.com.cn/font/DINCond-Bold.otf*/format('opentype');src: url('dincond-bold-webfont.eot')/*tpa=https://www.bgy.com.cn/font/dincond-bold-webfont.eot*/;src: url('dincond-bold-webfont.eot-#iefix')/*tpa=https://www.bgy.com.cn/font/dincond-bold-webfont.eot?#iefix*/format('embedded-opentype');src: url('dincond-bold-webfont.svg#Regular')/*tpa=https://www.bgy.com.cn/font/dincond-bold-webfont.svg#Regular*/format('svg');src: url('dincond-bold-webfont.woff')/*tpa=https://www.bgy.com.cn/font/dincond-bold-webfont.woff*/format('woff');src: url('dincond-bold-webfont.ttf')/*tpa=https://www.bgy.com.cn/font/dincond-bold-webfont.ttf*/format('truetype');font-weight: normal;font-style: normal;}

@font-face{font-family:'NOVECENTOWIDE';src: url('NOVECENTOWIDE-DEMIBOLD.otf')/*tpa=https://www.bgy.com.cn/font/NOVECENTOWIDE-DEMIBOLD.otf*/format('opentype');src: url('novecentowide-demibold-webfont.eot')/*tpa=https://www.bgy.com.cn/font/novecentowide-demibold-webfont.eot*/;src: url('novecentowide-demibold-webfont.eot-#iefix')/*tpa=https://www.bgy.com.cn/font/novecentowide-demibold-webfont.eot?#iefix*/format('embedded-opentype');src: url('novecentowide-demibold-webfont.svg#Regular')/*tpa=https://www.bgy.com.cn/font/novecentowide-demibold-webfont.svg#Regular*/format('svg');src: url('novecentowide-demibold-webfont.woff')/*tpa=https://www.bgy.com.cn/font/novecentowide-demibold-webfont.woff*/format('woff');src: url('novecentowide-demibold-webfont.woff2')/*tpa=https://www.bgy.com.cn/font/novecentowide-demibold-webfont.woff2*/format('woff2');font-weight: normal;font-style: normal;}
@font-face{font-family:'MONTSERRAT';src: url('MONTSERRAT-REGULAR.TTF')/*tpa=https://www.bgy.com.cn/font/MONTSERRAT-REGULAR.TTF*/format('TTF');src: url('montserrat-regular-webfont.eot')/*tpa=https://www.bgy.com.cn/font/montserrat-regular-webfont.eot*/;src: url('montserrat-regular-webfont.eot-#iefix')/*tpa=https://www.bgy.com.cn/font/montserrat-regular-webfont.eot?#iefix*/format('embedded-opentype');src: url('montserrat-regular-webfont.svg#Regular')/*tpa=https://www.bgy.com.cn/font/montserrat-regular-webfont.svg#Regular*/format('svg');src: url('montserrat-regular-webfont.woff')/*tpa=https://www.bgy.com.cn/font/montserrat-regular-webfont.woff*/format('woff');src: url('montserrat-regular-webfont.woff2')/*tpa=https://www.bgy.com.cn/font/montserrat-regular-webfont.woff2*/format('woff2');font-weight: normal;font-style: normal;}

@font-face{font-family: 'novecentowide-book';src: url('novecentowide-book-webfont.eot')/*tpa=https://www.bgy.com.cn/font/novecentowide-book-webfont.eot*/;src: url('novecentowide-book-webfont.eot-#iefix')/*tpa=https://www.bgy.com.cn/font/novecentowide-book-webfont.eot?#iefix*/ format('embedded-opentype'), url('novecentowide-book-webfont.woff2')/*tpa=https://www.bgy.com.cn/font/novecentowide-book-webfont.woff2*/ format('woff2'), url('novecentowide-book-webfont.woff')/*tpa=https://www.bgy.com.cn/font/novecentowide-book-webfont.woff*/ format('woff'), url('novecentowide-book-webfont.ttf')/*tpa=https://www.bgy.com.cn/font/novecentowide-book-webfont.ttf*/ format('truetype'), url('novecentowide-book-webfont.svg#novecentowide-bold-webfont')/*tpa=https://www.bgy.com.cn/font/novecentowide-book-webfont.svg#novecentowide-bold-webfont*/ format('svg');}



/*头部*/
.header{width:100%;height:84px;position:relative;z-index:100;}
.header .logo{float:left;margin-top:15px;}
.header .btns{float:right;height:84px;margin-left:10px;position:relative;}
.header .btns .btns-language{font-size:14px;color:#999999;line-height:84px;float:left;font-weight:bold;position:relative;cursor: pointer;}
.header .btns .btns-search{width:16px;height:16px;float:left;background:url("search.png")/*tpa=https://www.bgy.com.cn/images/search.png*/ no-repeat right center;padding-left:8px; margin:35px 15px 0 0;position:relative;}
.header .btns input{font-size: 14px;color: #666666;float:left;margin-top:25px;width:0px;height:35px;padding-left:15px;border:1px #0e98a5 solid;opacity:0;filter:Alpha(opacity=0);border-radius:5px;}
.header .btns .langOv{width:250px;height:60px;position:absolute;top:84px;right:-60px;overflow:hidden;z-index:7;}
.header .btns .langOv .langsN{width:185px;height:56px;line-height:56px;padding:0 15px; position:absolute;top:-100%;right:0px;background:rgba(0,0,0,0.5) !important; background:#000; filter:Alpha(opacity=50);z-index:100;}
.header .btns .langOv .langsN a{float:left;font-size:13px;color:#fff;margin:0 10px;position:relative;}
.header .btns .langOv .langsN a:hover{color:#2f909a;}
.header .nav{float:right;height:84px;position:relative;z-index:10;}
.header .nav li{padding:0 17px 0 16px;float:left;}
.header .nav li a{font-size:14px;color:#7a7a7a;line-height:85px;font-weight:bold;}
.header .nav .navline{position:absolute;width:0;height:4px;padding-bottom:3px; background:url("navline.jpg")/*tpa=https://www.bgy.com.cn/images/navline.jpg*/ repeat-x center center;bottom:0;left:15px;}
.header .nav .navline img{margin:0 auto;display:block;}
.header .menu{width:42px;height:42px; background:url("menu-on.png")/*tpa=https://www.bgy.com.cn/images/menu-on.png*/ no-repeat center center;position:fixed;right:40px;top:20px;z-index:90;border:2px #eaeaea solid;-webkit-transition:all .3s;transition:all .3s;}
.header .menu:hover{ background:#eaeaea url("menu-on.png")/*tpa=https://www.bgy.com.cn/images/menu-on.png*/ no-repeat center center;}

/*二级导航*/
.header .innavbg{width:100%;height:56px;background:#000;opacity:0.5; filter:Alpha(opacity=50); position:absolute;top:84px;left:0px;z-index:8;display:none;}

.header .sideNav{width:1200px; height:56px; position:absolute;top:100%;z-index:10;display:none;}
.header .sideNav dd{float:left;margin:0 16px;line-height:56px;}
.header .sideNav dd a{display: block; color: #fff; opacity:1\9;+opacity:1; font-size: 13px;line-height:56px;position:relative;z-index:100;}
.header .sideNav dd a:hover{color:#26a2ae;}
.sN1{left:63px;}
.sN2{left:167px;}
.sN3{left:270px;}
.sN4{left:-345px;}
.sN5{left:215px;}
.sN6{left:417px;}

/*底部*/
.footer{width:100%; background:url("footer.jpg")/*tpa=https://www.bgy.com.cn/images/footer.jpg*/ repeat-x center top;position:relative;padding-bottom:60px;}
.foot-top{width:100%;height:65px;}
.foot-share{height:65px;float:left;}
.foot-share span{font-size:12.5px;color:#8c8c8c;line-height:65px;float:left;margin-right:15px;font-weight:bold;}
.foot-share a{width:34px;height:34px;float:left;margin:16px 4px 0 0;}
.foot-share .wx{background:url("logn.png")/*tpa=https://www.bgy.com.cn/images/logn.png*/ no-repeat -1px 0px;position:relative;position:relative;}
.foot-share .wb{background:url("logn.png")/*tpa=https://www.bgy.com.cn/images/logn.png*/ no-repeat -1px -39px;}
.foot-share .wx:hover{background:url("logn.png")/*tpa=https://www.bgy.com.cn/images/logn.png*/ no-repeat -35px 0px;}
.foot-share .wb:hover{background:url("logn.png")/*tpa=https://www.bgy.com.cn/images/logn.png*/ no-repeat -35px -39px;}
.foot-share .wxsode{width:136px;height:145px;position:absolute;left:-52px;bottom:40px;display:none;}
.foot-down{width:320px;height:65px;line-height:65px;padding:0 18px; float:right;border-left:2px #fff solid;border-right:2px #fff solid;position:relative;}
.foot-down p{font-size:14px;color:#8c8c8c;width:100%;line-height:65px;background:url("foot-down.png")/*tpa=https://www.bgy.com.cn/images/foot-down.png*/ no-repeat right center;}

.foot-down input{font-size:14px;color:#8c8c8c;width:280px;height:65px;padding-right:40px; border:none;background:url("foot-down.png")/*tpa=https://www.bgy.com.cn/images/foot-down.png*/ no-repeat right center;cursor:pointer;font-weight:bold;}
.foot-down ul{width:356px;padding-top:20px; background:#f4f4f4;position:absolute;bottom:65px;left:1px;display:none;}
.foot-down li{padding-left:18px;margin-bottom:5px;}
.foot-down li a{font-size:14px;color:#8c8c8c;}
.foot-down li a:hover{color:#0e98a5;}

.foot-con{padding-top:20px;}
.foot-con p{font-size:12.5px;color:#8c8c8c;font-weight:bold;}
.foot-con a{font-size:12.5px;color:#8c8c8c;float:left;font-weight:bold;}
.foot-con a:hover{color:#00899d;}



/*侧边栏*/
.mask{width:100%;height:100%;background:#000;-webkit-opacity:0.5;opacity:0.5;filter:Alpha(opacity=50);z-index:900;position:fixed;top:0;left:0;display:none;}

.sitemap{width:400px;background:#fff;z-index:1000;position:fixed;right:-100%;top:0;padding-bottom:100;}
.sitemapCon{width:100%;height:100%;}
.sitemap-head{width:320px;height:84px;padding:0 40px; background:#0e98a5;}
.sitemap-head h2{font-size: 16px;color:#fff;line-height:84px;float:left;}
.sitemap-head a{width:46px;height:46px;background:url("close.png")/*tpa=https://www.bgy.com.cn/images/close.png*/ no-repeat center center;float:right;margin-top:19px;}
.sitemap-con{width:320px;padding:20px 40px 0 40px;height:100%;padding-bottom:100px;}
.sitemap-con dl{width:100%; padding-bottom:10px;margin-bottom:12px;border-bottom:2px #f4f4f4 solid;}
.sitemap-con dt{font-size:16px;color:#333333;font-weight::bold; padding-bottom:10px;}
.sitemap-con dd{float:left;margin:0px 20px 5px 0px;}
.sitemap-con dd a{font-size:12.5px;color:#999999;}

.sitemap-shares{padding:10px 0 20px 0;}
.sitemap-shares .up{width:1rem;height:1.2rem;float:left;background:url("stock-bt.png")/*tpa=https://www.bgy.com.cn/images/stock-bt.png*/ no-repeat center top;background-size:100%;margin-left:5px;}
.sitemap-shares .uptxt{font-size:36px;color:#fe0000;letter-spacing:-1px; font-family:'dincond-medium';line-height:1.6rem;padding-bottom:0.5rem;float:left;}
.sitemap-shares .down{width:16px;height:13px;float:left;background:url("downtx.png")/*tpa=https://www.bgy.com.cn/images/downtx.png*/ no-repeat center top;background-size:100%;margin-left:5px;}
.sitemap-shares .downtxt{font-size:2.6rem;color:#00A352;font-family:'dincond-medium';line-height:1.6rem;padding-bottom:0.5rem;float:left;}
.sitemap-shares h3{font-size:12.5;color:#5f5c5c;padding-top:5px; }
.sitemap-shares p{font-size:12.5;color:#5f5c5c;}
.sitemap-shares .reenoo{font-size:12.5px;color:#5f5c5c;padding-top:25px;line-height:15px;float:left;}
.sitemap-shares .reenoo a{display:inline-block; padding-left:5px;float:right;}


/*侧边悬浮*/
.control{width:60px;height:100%;position:fixed;top:0;right:33px;z-index:80;}
.control .control-itme{width:60px;height:100%;background:url("control-itme.jpg")/*tpa=https://www.bgy.com.cn/images/control-itme.jpg*/ repeat-y center center;position:absolute;top:64px;left:0;}
.control .control-warp{width:60px;height:135px;position:absolute;bottom:160px;right:0}
.control .control-warp a{-webkit-transition:all 300ms;-moz-transition:all 300ms; transition:all 300ms;}
.control .control-warp .control-up{width:60px;height:60px;background:url("control-up.png")/*tpa=https://www.bgy.com.cn/images/control-up.png*/ no-repeat center center;position:absolute;bottom:0px;right:0;z-index:800;}
.control .control-warp .control-return{width:60px;height:60px;background:url("control-return.png")/*tpa=https://www.bgy.com.cn/images/control-return.png*/ no-repeat center center;position:absolute;bottom:0;right:0;z-index:810}

.control .control-warp .control-up:hover{background:url("control-up-on.png")/*tpa=https://www.bgy.com.cn/images/control-up-on.png*/ no-repeat center center;}
.control .control-warp .control-return:hover{width:60px;height:60px;background:url("control-return-on.png")/*tpa=https://www.bgy.com.cn/images/control-return-on.png*/ no-repeat center center;}



@media screen and (max-width: 1300px) {
	.header .menu{right:10px;}
	.header .btns{margin-right:30px;}
}
@media screen and (max-height: 800px) {
	.sitemap-con{padding:10px 40px 100px 40px;}
	.sitemap-con dl{padding-bottom:5px;margin-bottom:8px;}
	.sitemap-shares h3{padding:0;}
	.sitemap-shares .reenoo{padding-top:8px;}
}
@media screen and (max-height: 700px) {
	.sitemap{width:570px;}
	.sitemap-head{width:490px;}
	.sitemap-con{width:490px;}
	.sitemap-con dl{margin-bottom:4px;}
	.sitemap-head{height:74px;}
	.sitemap-head h2{line-height:74px;}
	.sitemap-head a{margin-top:10px;}
}

@media screen and (max-height: 620px) {
	.sitemap-con dd{margin:0 20px 0 0;}
	.sitemap-con dt{padding-bottom:5px;}

}


