.w838 {
    width: 100%;
    border-left: none;
}

.investor-right {
    width: 100%;
}

.investor-pdf li {
    width: 185px;
}

.nav_user {
    width: 163px;
    height: 40px;
    background: #393D44;
}