.breadcrumb li {
  color: rgba(30, 130, 23, 1);
  height: 27px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.breadcrumb li a {
  color: rgba(30, 130, 23, 1);

}

.admin_option_left_a {
  color: white;
}

.admin_option_left_a:hover {
  color: white;
}

#admin_permissions_cycle {
  display: flex;
}

.breadcrumb {
  width: 347px;
  display: flex;
  position: relative;
  top: 24px;
  float: left;
}

.main-breadcrumb {
  height: 50px;
  width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-center {
  width: 1200px;
  min-height: 900px;
  margin: auto;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.admin_option_left {
  display: none;
  width: 167px;
  height: 38px;
  background: rgba(106, 166, 102, 1);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 38px;
  text-align: center;
  box-sizing: border-box;
}

.admin_option_left:hover {
  cursor: pointer;
}

.photo-albums {
  height: 41px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(57, 61, 68, 1);
  line-height: 41px;
  margin: 16px 0;
}

.Events-Calendar {
  width: 370px;
  height: 384px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
  margin-top: 21px;
  margin-right: 21px;
}

.Events-Calendar div {
  width: 338px;
  height: 276px;
  margin: 16px auto;
}

.Events-Calendar h5 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(57, 61, 68, 1);
  margin-left: 16px;
}

.Events-Calendar p {
  height: 27px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(57, 61, 68, 1);
  line-height: 27px;
  margin-left: 16px;
}

.Events-Calendar:hover {
  cursor: pointer;
}

.content-img {
  background-size: 100%;
}

.content-img em {
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 232px;
  left: 288px;
}

.content-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 80px;
}

.upload-photos {
  display: none;
  width: 1133px;
  height: 671px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: fixed;
  top: 56%;
  left: 50%;
  margin-left: -563px;
  margin-top: -400px;
  z-index: 1000022;
}

.bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100002;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.photos-img {
  position: absolute;
  right: -16px;
  top: -18px;
  border-radius: 50%;
  cursor: pointer;
}

.upload-photos-p {
  width: 100%;
  height: 64px;
  background: #6AA666;
  border-radius: 4px 4px 0px 0px;
  font-size: 30px;
  line-height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.upload-photos-choose {
  width: 100%;
  height: 64px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}

.upload-photos-span {
  margin-left: 20px;
  color: rgba(155, 155, 155, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}

.upload-photos-int {
  margin-left: 10px;
  width: 322px;
  height: 40px;
  color: rgba(106, 166, 102, 1);
  border-radius: 4px;
  border: 1px solid rgba(106, 166, 102, 1);
  padding-left: 10px
}

.upload-photos-file {
  width: 279px;
  height: 50px;
  background: rgba(106, 166, 102, 1);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  cursor: pointer;
}

.upload-photos-file-p {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 16px;
  float: left;
  margin-top: 14px;
  margin-left: 8px;
}

.upload-photos-file img {
  margin-left: 17px;
  margin-top: 13px;
  float: left;
}
