html,
body {
  height: 100%;
}

.main {
  min-height: 900px;
}

.breadcrumb li {
  color: rgba(30, 130, 23, 1);
  height: 27px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;

}

.breadcrumb li a {
  color: rgba(30, 130, 23, 1);

}

.breadcrumb {
  width: 293px;
  display: flex;
  /* border: solid 1px red; */
  position: relative;
  top: 24px;
  float: left;
}

.main-breadcrumb {
  height: 50px;
  width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-center {
  width: 1200px;
  height: auto;
  margin: auto;
}

.content-1 {
  width: 100%;
  height: auto;

  /* border: solid 1px; */
  display: flex;
  flex-wrap: wrap;

}

.Events-Calendar {
  width: 368px;
  height: 234px;
  background: rgba(255, 255, 255, 1);
  /* box-shadow:0px 0px 8px 0px rgba(0,0,0,0.24); */
  margin: 24px 24px 24px 0;
  /* border: 3px solid #6AA666; */
}

.calendar-img {
  width: 250px;
  height: 84px;
  background: rgba(106, 166, 102, 0.9);
  position: relative;
  top: 76px;
  left: 59px;
}

.calendar-img p {

  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 80px;
  text-align: center;
}
