.w838 {
  width: 100%;
  border-left: none;
}

.investor-right {
  width: 100%;
}

.investor-pdf li {
  width: 185px;
}

.nav_user {
  width: 163px;
  height: 40px;
  background: #393D44;
}

.breadcrumb {
  width: 100%;
  height: 75px;
}

.breadcrumb li {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  line-height: 75px;
  color: rgba(30, 130, 23, 1);
}

.breadcrumb li a {
  color: rgba(30, 130, 23, 1);
}

.calendar-table tr {
  width: 410px;
  height: 54px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(106, 166, 102, 1);
}

.calendar-table tr td {
  height: 24px;
  font-size: 18px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  color: rgba(57, 61, 68, 1);
  line-height: 24px;
  text-align: left;
  border-color: "#f1e8c6";
  padding: 14px 24px;
}

.calendar-table tr>td>span {
  font-size: 16px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  color: rgba(151, 151, 151, 1);
}

.calendar-table .check-input input {
  width: 20px;
  height: 20px;
  background: rgba(106, 166, 102, 1);
  border-radius: 3px;
  border: 1px solid rgba(106, 166, 102, 1);
}



.add_volunteer_title {
  width: 100%;
  height: 41px;
  font-size: 28px;
  font-family: OpenSans-Bold;
  font-weight: bold;
  color: rgba(57, 61, 68, 1);
  line-height: 41px;
  margin-bottom: 10px;
}

.p-input {
  width: 90%;
  margin: 20px 0;
  text-align: right;

}

.p-input input:nth-child(1) {
  width: 113px;
  height: 38px;
  background: rgba(106, 166, 102, 1);
  border-radius: 19px;
  border: none;
  font-size: 16px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 22px;
  cursor: pointer;

}

.p-input input:nth-child(2) {
  width: 113px;
  height: 38px;
  background: rgba(249, 75, 90, 1);
  border-radius: 19px;
  border: none;
  font-size: 16px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 22px;
  margin-left: 20px;
  cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
}

.check-input {
  position: relative;
}

.label_span_a {
  position: absolute;
  top: 14px;
  color: rgba(57, 61, 68, 1) !important;
  font-size: 18px !important;
}

.label_span_b {
  position: absolute;
  top: 44px;
  left: 50px;
  color: rgba(57, 61, 68, 1) !important;
  font-size: 18px !important;
}

.label_span_c {
  position: absolute;
  top: 76px;
  left: 50px;
  color: rgba(57, 61, 68, 1) !important;
  font-size: 18px !important;
}

.label_span_d {
  position: absolute;
  top: 107px;
  left: 50px;
  color: rgba(57, 61, 68, 1) !important;
  font-size: 18px !important;
}

#color-input-green_a+label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 15px;
  border: rgba(106, 166, 102, 1) solid 1px;
  border-radius: 3px;
}


#color-input-green_a:checked+label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  background: rgba(106, 166, 102, 1);
  color: white;
  position: relative;
  line-height: 20px;
}



#color-input-green_b+label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 46px;
  left: 15px;
  border: rgba(106, 166, 102, 1) solid 1px;
  border-radius: 3px;

}


#color-input-green_b:checked+label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  background: rgba(106, 166, 102, 1);
  color: white;
  position: relative;
  line-height: 20px;
}

#color-input-green_c+label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 77px;
  left: 15px;
  border: rgba(106, 166, 102, 1) solid 1px;
  border-radius: 3px;
}


#color-input-green_c:checked+label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  background: rgba(106, 166, 102, 1);
  color: white;
  position: relative;
  line-height: 20px;
}

#color-input-green_d+label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 107px;
  left: 15px;
  border: rgba(106, 166, 102, 1) solid 1px;
  border-radius: 3px;
}


#color-input-green_d:checked+label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  background: rgba(106, 166, 102, 1);
  color: white;
  position: relative;
  line-height: 20px;
}
