<!-- header -->
<div class="header">
</div>
<!-- main -->
<div class="main">
    <div class="main-top clearfix">

        <div class="w1200 pr">
            <ul class="breadcrumb">
                <li><a href="/home" rel="noopener noreferrer">Home</a></li>
                <li>&nbsp;>&nbsp;</li>
                <li><a href="/news" rel="noopener noreferrer"> News </a></li>
                <li>&nbsp;>&nbsp;</li>
                <li><a href="/news/bulletins" rel="noopener noreferrer"> Email Bulletin</a></li>
                <li>&nbsp;>&nbsp;</li>
                <li><a href="#">Edit Custom Templates</a></li>
            </ul>
            <div class="main-left-one">

                <div class="form_1">
                    <div class="form_title" id="form_titles">
                        <script id="template_title" type="txt/template">
                            {{title}}
							</script>
                    </div>
                    <ul id="bulletins_custom">
                        <script id="custom_template" type="txt/template">
                            <li>
								<div class="form_content_left">{{content}}</div>
								<div class="form_content_right">
									<span class="edit">{{edit}}</span>
									<span class="del">{{del}}</span>

								</div>
                            </li>
                        </script>

                    </ul>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


    <!-- footer -->
    <div class="footer">
        <p>
            Copyright © 2019 Tellus, Inc. All Rights Reserved.
        </p>
    </div>
