html,
body {
    height: 100%;
}

.main {
    height: 1675px;
}

.breadcrumb {
    width: 100%;
    height: 75px;
}

.main .breadcrumb li {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    font-family: OpenSans-Regular;
    font-weight: 400;
    line-height: 75px;
    color: rgba(30, 130, 23, 1);
}

.breadcrumb li a {
    color: rgba(30, 130, 23, 1);
}

.content-1 {
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-family: OpenSans-SemiBold;
    font-weight: 600;
    color: rgba(57, 61, 68, 1);
    line-height: 60px;
}

.footer-p {
    font-size: 16px;
    font-family: OpenSans-SemiBold;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 70px;
    text-align: center;

}

.item {
    display: none;
}

.show {
    display: block;
}

.main .Volunteer_dec {
    margin-top: 22px;
    margin-bottom: 24px;
    line-height: 33px;
    font-size: 24px;
    font-family: OpenSans-SemiBold;
    font-weight: 600;
    color: #393D44;
}

.main .committee-content li {
    float: left;
    width: 384px;
    margin-right: 15px;
}

.main .committee-content {
    height: 1200px;
}

.part_1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
}

.main h3 {
    font-size: 30px;
    font-family: OpenSans-Bold;
    font-weight: 600;
    color: rgba(57, 61, 68, 1);
    line-height: 41px;
}

.main h4 {
    font-size: 30px;
    font-family: OpenSans-Bold;
    font-weight: bold;
    color: rgba(57, 61, 68, 1);
    line-height: 30px;
}

.main .Volunteer_dec {
    margin-top: 22px;
    margin-bottom: 24px;
    line-height: 33px;
    font-size: 24px;
    font-family: OpenSans-SemiBold;
    font-weight: 600;
    color: #393D44;
}

.Volunteer_dec_title {
    font-size: 19px;
    font-family: OpenSans-SemiBold;
    font-weight: 500;
    color: rgba(57, 61, 68, 1);
    line-height: 27px;
    margin-bottom: 16px;
}

.committee_add {
    width: 90px;
    height: 40px;
    background: rgba(106, 166, 102, 1);
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 16px;
    display: none;
    cursor: pointer;
}

.admin-control {
    width: 100%;
    height: 40px;
    display: none;
}

.admin-control span a {
    color: rgba(106, 166, 102, 1);
}

.admin-control span {
    display: inline-block;
    width: 90px;
    height: 38px;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #6AA666;
    color: #6AA666;
    text-align: center;
    line-height: 40px;
    margin-right: 17px;

}

.admin-control span:nth-child(2) {
    border: 1px solid #F94B5A;
    color: #F94B5A;
}

.del {
    cursor: pointer;
}