.main {
  height: 1150px;
}

.main-right-content {
  width: 759px;
  height: 225px;
}

.calendar {
  width: 695px;
  box-sizing: border-box;
  padding: 50px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.24);
}

.calendar-title .arrow {
  top: 10px;
  width: 90px;
  right: 17px;
}
.breadcrumb li{
  color:rgba(30,130,23,1);
}
.calendar-title .arrow span {
  font-size: 40px;
}

.calendar-right {
  width: 476px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: overlay;
  margin-top: 17px;
}

.calendar-title {
  padding: 10px 0;
}

.calendar-right::-webkit-scrollbar {
  display: none;
}

.calendar-right ul {
  width: 100%;
  background: #F1F1F1;
  padding: 6px 16px;
  box-sizing: border-box;
  position: relative;
}

.calendar-right ul:nth-child(4) {
  margin-bottom: 0;
}

.calendar-right ul:nth-child(odd) {
  background: #6AA666;
}

.calendar-right ul:nth-child(odd) li {
  color: #ffffff;
}

.calendar-right ul li {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-family: PingFangSC-Regular;
}

.calendar-week {
  padding: 20px 10px 10px;
  border: 0;
}

.calendar-date {
  padding: 10px;
}

.calendar-week .item {
  width: 39px;
  height: 40px;
  font-size: 27px;
  margin-right: 50px;
  text-align: center;
  color: rgba(52, 72, 94, 0.54);
}

.calendar-week li:last-child {
  margin-right: 0;
}

.calendar-date .item {
  width: 39px;
  height: 40px;
  font-size: 25px;
  color: #E1E4E7;
  margin: 20px 50px 0 0;
}

.calendar-date .item.item-curMonth.active-red {
  border: 1px solid red;
  box-sizing: border-box;
}

.calendar-date .item:nth-child(7n+7) {
  margin-right: 0;
}

.calendar-date .item-curMonth {
  color: #7C86A2;
}

.calendar-date .item-curDay {
  background: #6AA666;
}

.breadcrumb {
  width: 100%;
  height: 75px;
}

.breadcrumb li {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  line-height: 75px;
}

.breadcrumb li a {
  color: rgba(30, 130, 23, 1);
}

.calendar-right .tips {
  width: 103px;
  height: 144px;
  position: absolute;
  top: 0;
  right: 0;
}

.calendar-right .tips ul {
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.6) !important;
}

.calendar-right .tips ul li {
  height: 24px;
  margin-bottom: 8px;
  text-align: center;
}

.calendar-right .tips a {
  display: inline-block;
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  font-family: OpenSans-SemiBold;
  color: rgba(255, 255, 255, 1);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 1);
}


.db1 {
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.notes {
  width: 330px;
  height: 430px;
  background: rgba(255, 255, 255, 1);
  border-radius: 7px;
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 1001;
}

.notes-h3 {
  margin-top: 0;
  font-size: 26px;
  font-weight: 500;
  color: rgba(57, 61, 68, 1);
  line-height: 77px;
  text-align: center;
  height: 77px;
}

.notes textarea {
  background: #F5F8F9;
  margin-left: 33px;
  border: none;
  width: 260px;
  height: 257px;
  padding: 19px 16px;
  box-sizing: border-box;
}

.notes input {
  display: inline-block;
  border: none;
  width: 260px;
  height: 42px;
  margin-left: 33px;
  margin-top: 24px;
  background: #6AA666;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
}

.notes textarea::-webkit-input-placeholder {
  color: #889399;
}

.action-buttons-top {
  width: 100%;
  margin-bottom: 11px;
  display: none;
  height: 40px;
}

.action-buttons-top span {
  padding: 2px 24px 2px 24px;
  margin-right: 16px;
  height: 40px;
  display: block;
  background: rgba(106, 166, 102, 1);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  float: left;
}

.action-buttons-top a {
  color: white;
}

.action-buttons-top:hover {
  color: white;
}

.top-right {
  width: 91px;
  float: right;
  display: none;
}

.calendar-right ul:nth-child(odd) .top-right span {
  color: #6AA666;
}

.calendar-right ul:nth-child(odd) .top-right span {
  color: white;
}

.top-right span {
  color: rgba(106, 166, 102, 1);
  display: inline-block;
  margin-right: 7px;
  font-size: 16px;
  font-family: OpenSans-Regular;
  font-weight: 400;
  line-height: 22px;
}

.calendar-right ul:nth-child(odd) .right-a,
.calendar-right ul:nth-child(odd) .right-b {
  color: #ffffff;
}

.top-right span:nth-child(2) {
  margin-right: 0;
}

.right-b,
.right-a {
  cursor: pointer;
  margin-left: 56%;
  color: black;
}
.saveChange {
  width: 80px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 40%;
  color: #ffffff;
  background: rgba(249, 75, 90, 1);
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  right: 10px;
  cursor: pointer;
}
/* calendar */

@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

.jalendar {
  position: relative;
  width: 300px;
  margin: 30px auto;
}

.jalendar .left {
  float: left;
}

.jalendar .clear {
  clear: both;
}

.jalendar.mid {
  width: 420px;
}

.jalendar .added-event {
  display: none;
}

.jalendar-wood {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.jalendar .wood-bottom {
  display: none;
  position: absolute;
  bottom: -6px;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8), 0 2px 5px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #653f08;
}

.jalendar-pages {
  position: relative;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  margin-top: -30px;
  height: 316px;
}

.jalendar .pages-bottom {
  display: none;
  position: absolute;
  border-radius: 0 0 2px 2px;
  height: 4px;
  bottom: -4px;
  left: 1%;
  width: 98%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.jalendar-pages>.header {
  text-align: center;
  background: #6AA666 !important;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  height: 124px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -10px 20px rgba(0, 0, 0, 0.2), inset 0 40px 40px rgba(255, 255, 255, 0.1);

}

#myId {
  width: 695px;
  height: 626px;
  margin-left: 0;
  margin-top: 47px;
}

.jalendar-pages>.header h1 {
  margin: 13px 0 0 0;
  padding: 0;
  display: inline-block;
  font: 24px "Roboto", Arial, Helvetica, Geneva, sans-serif;
  color: #fff;
  text-shadow: 0 -1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  font-size: 32px;
}

.jalendar-pages>.header .prv-m,
.jalendar-pages>.header .nxt-m {
  text-decoration: none;
  width: 31px;
  position: absolute;
  display: inline-block;
  height: 31px;
  background: url('/community/img/jalendar-sprite.png') no-repeat;
  top: 15px;
  cursor: pointer;
}

.jalendar-pages>.header .prv-m {
  background-position: 0 0;
  left: 20px;
}

.jalendar-pages>.header .nxt-m {
  background-position: -34px 0;
  right: 20px;
}

.jalendar-pages>.header .day-names {
  margin: 10px 10px 0 10px;
  overflow: hidden;
  text-align: center;
  margin-top: 25px;
  font-size: 0;
}

.jalendar-pages>.header h2 {
  display: inline-block;
  width: 14%;
  padding: 7px 0 0 0;
  text-indent: 1px;
  text-align: center;
  margin: 0;
  background: url('/community/img/jalendar-sprite.png') no-repeat 0 -41px;
  height: 22px;
  font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: 0 1px 0 #000;
  color: #fff;
}

.jalendar .header h2:first-child {
  background: none !important;
}

.jalendar .total-bar {
  margin: 12px 15px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  color: #666;
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.jalendar .total-bar b {
  color: rgba(106, 166, 102, 1) !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.jalendar .days {
  font-size: 0;
  text-align: center;
  width: 102%;
  margin-left: -7px;
}

.jalendar .days .day {
  display: inline-block;
  width: 14%;
  height: 75px;
  padding: 5px;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font: 14px "Roboto", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #666;
  cursor: pointer;
  position: relative;
  line-height: 75px;
  font-size: 20px;
  font-weight: 700;
}

.jalendar.mid .days .day {
  height: 40px;
  font-size: 18px;
  padding-top: 7px;
}

.jalendar .days .day:hover {
  background-color: #feffea;
}

.jalendar .days .day.selected {
  box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.4), inset 0 -10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: rgba(106, 166, 102, 1) !important;
  line-height: 75px;
  border-radius: 5px;
}

.jalendar .days .day:nth-child(7n+1) {
  border-left: 1px solid #e0e0e0;
}

.jalendar .days .day:nth-last-child(1),
.jalendar .days .day:nth-last-child(2),
.jalendar .days .day:nth-last-child(3),
.jalendar .days .day:nth-last-child(4),
.jalendar .days .day:nth-last-child(5),
.jalendar .days .day:nth-last-child(6),
.jalendar .days .day:nth-last-child(7) {
  border-bottom: 1px solid #e0e0e0;
}

.jalendar .days .day.today.selected {
  color: #fff !important;
}

.jalendar .days .day>.event-single {
  display: none;
}

.jalendar .days .day.selected>i {
  display: none;
}

.jalendar .days .day>i {
  position: absolute;
  right: -1px;
  top: 0;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('/community/img/jalendar-sprite.png') 0 -580px;
}

.jalendar .add-event {
  /* float: right; */
  display: none;
  position: absolute;
  top: -29px;
  right: -500px;
  background: #F1F1F1;
  border-radius: 5px;
  width: 465px;
  height: 624px;
}

.jalendar .add-new {
  margin: 0 0 20px 0;
  padding: 20px 15px 15px 15px;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  background: rgba(106, 166, 102, 1);
  height: 87px;
  display: none;
}

.jalendar .add-new input[type="text"] {
  padding: 5px 15px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 1), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  font: 18px "Roboto", "Helvetica Neue", Arial;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 0 0 15px 0;
}

.jalendar .add-new .submit {
  position: absolute;
  right: 20px;
  top: 25px;
  background: url('/community/img/jalendar-sprite.png') 0 -614px no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
}

.jalendar .add-new .submit:active {
  background-position: -32px -614px;
}

.jalendar .add-time {
  float: left;
  width: 108px;
  background: url('/community/img/jalendar-sprite.png') 0 -179px;
  padding: 0 0 0 20px;
  font: bold 13px "Helvetica Neue", Arial;
  position: relative;
}

.jalendar .add-time .disabled {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: not-allowed;
}

.jalendar .add-time .select {
  background: url('/community/img/jalendar-sprite.png') right -250px repeat-x;
  position: relative;
  float: left;
  border-radius: 2px;
  border: 1px solid #999;
  cursor: pointer;
  letter-spacing: 1px;
  height: 25px;
  z-index: 9;
  width: 42px;
  text-align: center;
}

.jalendar .add-time .select span {
  display: inline-block;
  padding: 5px 20px 5px 7px;
}

.jalendar .add-time .select .dropdown {
  position: absolute;
  left: -1px;
  width: 100%;
  top: 27px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  display: none;
  height: 200px;
  overflow-x: scroll;
}

.jalendar .add-time .select .dropdown .option {
  padding: 5px 0;
}

.jalendar .add-time .select .dropdown .option:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -14px 7px rgba(0, 0, 0, 0.1), inset 0 14px 7px rgba(255, 255, 255, 0.1);
  color: #fff;
}

.jalendar .add-time .select+.left {
  padding: 5px 4px 0 4px;
}

.jalendar .all-day {
  float: right;
  width: 115px;
  font: bold 13px "Helvetica Neue", Arial;
}

.jalendar .all-day fieldset {
  background: url('/community/img/jalendar-sprite.png') 0 -492px repeat-x;
  position: relative;
  float: right;
  border-radius: 2px;
  border: 1px solid #999;
  padding: 5px 7px;
  cursor: pointer;
  height: 15px;
}

.jalendar .all-day fieldset .check {
  float: left;
  width: 18px;
  border-right: 1px solid #999;
  display: inline-block;
  height: 27px;
  margin: -6px 0 0 0;
  background: url('/community/img/jalendar-sprite.png') -2px -284px;
  position: relative;
}

.jalendar .all-day fieldset .check span {
  position: absolute;
  left: 3px;
  top: 11px;
  border-radius: 2px;
  display: inline-block;
  width: 6px;
  height: 6px;
}

.jalendar .all-day fieldset label {
  float: left;
  padding: 0 0 0 5px;
  cursor: pointer;
}

.jalendar .events {
  height: 200px;
  position: relative;
  height: 453px !important;
}

.jalendar .events h3 {
  display: inline-block;
  width: 100%;
  font: 20px "Roboto", "Helvetica Neue", Arial;
  color: #333;
  text-shadow: 0 1px 1px #fff;
  text-align: center;
  margin: 0 0 10px 0;
}

.jalendar .events h3 span {
  display: inline-block;
  margin-top: 25px;
}

.jalendar .events .events-list {
  max-height: 124%;
  overflow-x: auto;
  padding: 2px 2px 0 2px;
  position: relative;
  z-index: 2;
}

.jalendar .events .event-single {
  border-radius: 7px;
  margin: 0 0 10px 0;
  background: #6AA666;
}

.jalendar .events .event-single p {
  padding: 7px 10px;
  font: bold 13px "Helvetica Neue", Arial;
  margin: 0;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  word-break: break-word;
}

.jalendar .events .event-single p:nth-child(4) {
  line-height: 26px;
  font-size: 15px;
}

.jalendar .events .event-single p a {
  color: #333;
}

.jalendar .events .event-single .details {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  overflow: hidden;
  width: 93%;
}

.jalendar .events .event-single .details .clock {
  background: url('/community/img/jalendar-sprite.png') 0 -184px;
  color: white;
  padding: 0 0 0 20px;
  font: bold 12px "Helvetica Neue", Arial;
  display: inline-block;
  width: 120px;
}

.jalendar .events .event-single .details .erase {
  background: url('/community/img/jalendar-sprite.png') 0 -217px;
  display: inline-block;
  width: 11px;
  height: 13px;
  cursor: pointer;
  margin-top: 5px;
}

.jalendar .events .events-list::-webkit-scrollbar {
  display: none
}
