.main {
  margin-bottom: 50px;
}

.w1200 {
  margin-bottom: 60px;
}

.breadcrumb {
  width: 100%;
  height: 75px;
}

.breadcrumb li {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 75px;
}

.breadcrumb li a {
  color: rgba(30, 130, 23, 1);
}

.edit_eform-table {
  width: 90%;
  border: #6AA666;
}

.edit_eform-table tr {
  width: 410px;
  height: 54px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(106, 166, 102, 1);
}

.edit_eform-table tr td {
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(57, 61, 68, 1);
  line-height: 24px;
  text-align: left;
  border-color: "#f1e8c6";
  padding: 14px 24px;
}

.edit_eform-table tr td select {
  width: 180px;
  height: 28px;
}

.edit_eform-table tr td input {
  width: 180px;
  height: 28px;
}

.edit_eform-table tr td textarea {
  width: 564px;
  height: 160px;
}

.continue {
  width: 128px;
  height: 38px;
  background: rgba(106, 166, 102, 1);
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 24px;
  cursor: pointer;
}

.cancel {
  width: 89px;
  height: 38px;
  background: rgba(249, 75, 90, 1);
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

tr {
  height: 35px;
}
